<section>
   <h2>Naam liedje</h2>
    <h3>Artiest</h3> 
</section>
<section>
    <img src="/images/lp.webp" alt="">
    <audio controls>
        <source src="audio.mp3" type="audio/ogg">
    </audio>
</section>
<section>
   <details>
        <summary>Meer info</summary>
        <h4>Info over het nummer</h4>
    </details> 
</section>
<form>
<!-- action="/" method="post" -->
    <input type="hidden" name="nummerId" value="1">
    <input type="submit" value="like">
    <input type="submit" value="Dislike">
</form>