<section>
  <section>
    <h2>Naam liedje</h2>
    <h3>Artiest</h3>
    <form>
      <!-- action="/" method="post" -->
      <input type="hidden" name="nummerId" value="nummerId" />
      <input type="submit" value="Like" />
      <input type="submit" value="Dislike" />
    </form>
  </section>
  <section>
    <img src="/images/lp.webp" alt="" />
  </section>
</section>
<section>
  <audio controls>
    <source src="audio.mp3" type="audio/ogg" />
  </audio>
</section>
