<nav>
  <ul>
    <li>
      <a href="/likes">
        <svg class="hart" viewBox="0 0 32 29.6">
          <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0
                  C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                  c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
        </svg>
        Likes
      </a>
    </li>
    <li>
      <a href="/ontdek">
        <svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.74 108.55">
          <path
            d="M31.28,77.48,21.44,39,11.76,1.09,16,0c5.5,10.87,14.48,17.4,25.66,21.62a25.69,25.69,0,0,1,9.62,7c5.11,5.81,4.4,13-1.49,19.65.38-1.74.7-3,.93-4.25,1.23-6.72-1.51-12.41-8.07-16C39,26,35,24.34,31.13,22.54c-3.63-1.7-7.27-3.38-9.56-4.44C24.8,30.75,28.5,45.25,32.21,59.74c2,7.95,4.12,15.89,6.17,23.84,2.38,9.26,0,16.06-7.23,20.94-7.68,5.16-18.38,5.38-25.06.52-7.35-5.35-8.15-15-1.83-22.16a23,23,0,0,1,24.27-6.41C29.31,76.73,30.08,77,31.28,77.48Z" />
        </svg>Ontdek</a>
    </li>
    <li>
      <a href="/start">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 399.59 399.59">
          <path class="cls-1"
            d="M2891.42,8763.57c-110.34,0-199.8,89.45-199.8,199.79s89.46,199.8,199.8,199.8,199.79-89.45,199.79-199.8S3001.76,8763.57,2891.42,8763.57Zm-.23,274.34a74.78,74.78,0,1,1,74.77-74.77A74.85,74.85,0,0,1,2891.19,9037.91Z"
            transform="translate(-2691.62 -8763.57)"></path>
          <circle cx="199.79" cy="199.8" r="34.8"></circle>
        </svg>
        Categorieën</a>
    </li>
  </ul>
</nav>