<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="categorie">
        <h2>Ben je klaar?</h2>
        <h3>Om jouw muziek ontdek avontuur te starten!</h3>
        <a href="/ontdek">Klik dan hier</a>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
</body>
</html>