<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section>
            <h2>Ontdek nieuwe muziek</h2>
            <img src="/images/lp.webp" alt="">
            <a href="/start">Start met muziek ontdekken</a>
        </section>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form> 
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>