<!DOCTYPE html>
<html lang="nl">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header><%- include('../partials/header'); %></header>
  <main class="index">
    <section>
      <img src="/images/logosounder.png" alt="logo van sounder" />
      <a href="/ontdek">Start met muziek ontdekken</a>
    </section>
    <section>

      <p>Welkom terug <span><%=naam%></span></p>
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log out</button>
      </form>
    </section>
  </main>
  <footer><%- include('../partials/footer'); %></footer>
</body>

</html>