<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section>
            <h2>Likes</h2>
            <p>Hier staan de nummers die je hebt geliked</p>
            <!-- <img src="/images/lp.webp" alt=""> -->
            <!-- <a href="/sounder/ontdek/">Start met muziek ontdekken</a> -->
        </section>
        <section>
            <%- include('../partials/liked'); %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>