<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header><%- include('../partials/header'); %></header>
    <main class="loading">
        <img src="/images/logosounder.png" alt="logo van sounder" />
        <form action="/loading" method="POST">
            <button>Klaar om te starten!</button>
        </form>
    </main>
</body>

</html>