<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <figure>
            <%- include('../partials/figure'); %>
        </figure>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>