<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="start">
        <h2>Selecteer een aantal categorieen.</h2>
        <form action="/categorie" method="POST" class="categorie">
            <label for="naam">naam</label>
            <input type="checkbox" name="naam" value="naam">
        </form>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="/scripts/script.js"></script>
</body>
</html>