<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h2>Selecteer een aantal categorieen.</h2>
        <%- include('../partials/categorie'); %>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <!-- <script src="/public/scripts/script.js"></script> -->
</body>
</html>