*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* list-style: none; */
}

html{
    font-family: 'museo-sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body{
    background-color: coral;
}

header{
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

main ul.hidden{
    display: none;
    /* visibility: hidden; */
    /* opacity: 0; */
}

main > section{
    display: flex;
    flex-direction: column;
}

main section button{
    padding: .5em;
}

main section img{
    width: 100%;
    order: -1;
}

main.muziekLijst > section{
    margin: 1em;
    display: grid;
    grid-template-rows:1fr auto;
    grid-template-columns:1fr;

    /* flex-direction: column; */
    /* gap: 1em; */
    border: 3px solid black;
}

main.muziekLijst > section > section:first-of-type{
    display: flex;
    position: relative;
}

main.muziekLijst > section > section:first-of-type > section:first-of-type{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 10em;
    padding: .5em;
    gap: .5em;
}

main.muziekLijst > section > section:first-of-type > section:nth-of-type(2){
    width: 10em;
} 

main.muziekLijst > section > section:first-of-type > section:nth-of-type(2) img{
     width: 10em;
     height: 10em;
     object-fit: cover;
     position: absolute;
     top: 0;
     right: 0;
}

main.muziekLijst > section > section:nth-of-type(2) audio{
    width: 100%;
    background-color:#c8c8c8;
    border-radius: 0;
}

main.muziekLijst > section > section:nth-of-type(2) audio::-webkit-media-controls-panel {
    background-color: rgba(200, 200, 200,1);
    border-radius: none;
    box-shadow: none;
}

section.likeSection{
    margin: 1em;
    display: grid;
    grid-template-rows:1fr auto;
    grid-template-columns:1fr;
    border: 3px solid black;
}

section.likeSection > section:first-of-type{
    display: flex;
}

/* 
main section > section{
    display: flex;
    justify-content: center;
    gap: 1em;
} */

/* 
main section > section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
} */
/* 
main section > section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
} */

main form{
    margin-top:2em ;
    display: flex;
    gap: 1em;
}

main form input{
    padding:.5em 1em;
}


main figure section button{
    width: 7.5em;
}

main > section > details{
    width: 100%;
    margin: 0 1em;
}

main.start{
    margin-bottom: 4em;
}

form.categorie{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

form.categorie button{
    padding:.5em 1em;
    font-size: 20px;
}

form.categorie .container{
    aspect-ratio: 1/1;
    width: 45%;
    /* background-color: #ffffff; */
    /* box-shadow: 0 0 25px rgba(17, 1, 68, 0.08); */
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: absolute;
    inset: 0;
    cursor: pointer;
    transition: 200ms;
}

input[type="checkbox"]:active{
    background-color: rgba(46, 204, 113, 0.75);
}

input[type="checkbox"]:checked{
    background-color: rgba(46, 204, 113, 0.5);
}


.container p{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,200%);
    font-weight: bold;
    z-index: 2;
}

.container img {
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: -1;
  }

/* Kaartjes die je hebt geliked  */

main section.liked{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: .5em;
    padding: .5em;
    border-radius: 10px;
    background-color: white;
}
/* Hartje van likes -> formulier! */
main section.liked svg{
    position: absolute;
    top: .5em;
    right: .5em;
    fill: black;
    /* width: 50%; */
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin-bottom: 1em ; */
}

footer nav ul{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

footer nav ul li{
    background-color: black;
    width: 4em;
    height: 4em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    border-radius: 8px 8px 0 0 ;
}

footer nav ul li a{
    width: 4em;
    height: 4em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    text-decoration: none;
}

footer nav ul li:last-of-type{
    visibility: hidden;
    opacity: 0;
}


svg{
    overflow: visible;
    width: 1.5em;
    fill: white;
}