footer{
    nav{
        ul {
            display: flex;
            justify-content: space-around;
            background-color: white;
        }
        li {
            background-color: black;
            width: 4em;
            height: 4em;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column ;
            border-radius: 8px 8px 0 0 ;
        }
        a {
            width: 4em;
            height: 4em;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column ;
            text-decoration: none;
        }
        li:last-of-type{
            visibility: hidden;
            opacity: 0;
        }
    }  
}
