*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* list-style: none; */
}

html{
    font-family: 'museo-sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body{
    background-color: coral;
    height: 100vh;
}

header{
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

main > section{
    display: flex;
    flex-direction: column;
}

main section button{
    padding: .5em;
}

main section img{
    width: 100%;
    order: -1;
}

main figure{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main figure img{
    width: 100%;
    gap: 1em;
}

main figure > section{
    display: flex;
    justify-content: center;
    gap: 1em;
}

main figure > section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

main figure > section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}




main figure section button{
    width: 7.5em;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin-bottom: 1em ; */
}

footer nav ul{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

footer nav ul li{
    background-color: black;
    width: 4em;
    height: 4em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    border-radius: 8px 8px 0 0 ;
}

footer nav ul li a{
    width: 4em;
    height: 4em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    text-decoration: none;
}

footer nav ul li:last-of-type{
    visibility: hidden;
    opacity: 0;
}


svg{
    overflow: visible;
    width: 1.5em;
    fill: white;
}